---
export interface Props {
  align?: 'left' | 'center';
}

const { align = 'center' } = Astro.props;
const alignClass = align === 'left' ? 'text-left' : 'text-center';
---

<h2
  class={`${alignClass} mt-0 block text-[32px] leading-[1.0] sm:text-[38px] sm:leading-[1.2] md:text-[45px] md:leading-[49.5px] tracking-[0.45px] font-bold text-gray-800 text-balance `}
>
  <slot />
</h2>
