---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import joshImage from '/src/assets/images/josh-circle.png';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white"> Beautiful Website Templates</span>
    </Fragment>

    <Fragment slot="subtitle">
      Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec
      quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus.
      Suspendisse vitae nisi eget tortor luctus maximus sed non lectus.
    </Fragment>
  </Hero> -->

  <!-- Content Widget **************** -->

  <Content
    title="Meet the team"
    items={[
      {
        title: '',
        classes: { title: 'mb-0' },
        description:
          'Josh is a husband, father, and the founder of Rock Bookkeeping. He earned his Accounting degree from Biola University, a Christian university in California, and gained valuable experience working in public accounting before starting his own firm. Josh is a Certified QuickBooks ProAdvisor and Intuit Certified Bookkeeper, dedicated to helping small businesses keep their books accurate and stress-free. Guided by faith and integrity, he is passionate about serving his clients with excellence and providing clarity in their finances.',
      },
    ]}
    image={{
      src: joshImage,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-0 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">Josh Cesana</h3>
      Owner
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <ContactUs
    id="contact"
    title="Contact Us"
    subtitle="<a class='font-bold text-blue-600' href='tel:412-256-8411'>412-256-8411</a><br><a class='font-bold text-blue-600' href='mailto:josh@rockbookkeeping.com'>josh@rockbookkeeping.com</a>"
    description="We value your privacy. We'll get back to you as soon as possible."
    button="Send"
    inputs={[
      {
        type: 'text',
        name: 'firstname',
        label: 'First name',
      },
      {
        type: 'text',
        name: 'lastname',
        label: 'Last name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      // need phone:
      {
        type: 'text',
        name: 'phone',
        label: 'Phone',
      },
    ]}
    textarea={{
      label: 'Message',
    }}

  />

</Layout>
